venv
rss_feed/account/migrations
rss_feed/core/migrations
rss_feed/product/migrations
.env
rss_feed/account/__pycache__/__init__.cpython-311.pyc
rss_feed/account/__pycache__/admin.cpython-311.pyc
rss_feed/account/__pycache__/apps.cpython-311.pyc
rss_feed/account/__pycache__/auth.cpython-311.pyc
rss_feed/account/__pycache__/manager.cpython-311.pyc
rss_feed/account/__pycache__/models.cpython-311.pyc
rss_feed/account/__pycache__/serializers.cpython-311.pyc
rss_feed/account/__pycache__/urls.cpython-311.pyc
rss_feed/account/__pycache__/views.cpython-311.pyc
rss_feed/account/migrations/__pycache__/__init__.cpython-311.pyc
rss_feed/account/migrations/__pycache__/0001_initial.cpython-311.pyc
rss_feed/api/__pycache__/__init__.cpython-311.pyc
rss_feed/api/__pycache__/admin.cpython-311.pyc
rss_feed/api/__pycache__/apps.cpython-311.pyc
rss_feed/api/__pycache__/models.cpython-311.pyc
rss_feed/api/migrations/__pycache__/__init__.cpython-311.pyc
rss_feed/core/__pycache__/__init__.cpython-311.pyc
rss_feed/core/__pycache__/admin.cpython-311.pyc
rss_feed/core/__pycache__/apps.cpython-311.pyc
rss_feed/core/__pycache__/models.cpython-311.pyc
rss_feed/core/migrations/__pycache__/__init__.cpython-311.pyc
rss_feed/core/migrations/__pycache__/0001_initial.cpython-311.pyc
rss_feed/feedback/__pycache__/__init__.cpython-311.pyc
rss_feed/feedback/__pycache__/admin.cpython-311.pyc
rss_feed/feedback/__pycache__/apps.cpython-311.pyc
rss_feed/feedback/__pycache__/models.cpython-311.pyc
rss_feed/feedback/migrations/__pycache__/__init__.cpython-311.pyc
rss_feed/podcast/__pycache__/__init__.cpython-311.pyc
rss_feed/podcast/__pycache__/admin.cpython-311.pyc
rss_feed/podcast/__pycache__/apps.cpython-311.pyc
rss_feed/podcast/__pycache__/models.cpython-311.pyc
rss_feed/podcast/migrations/__pycache__/__init__.cpython-311.pyc
rss_feed/podcast/migrations/__pycache__/0001_initial.cpython-311.pyc
rss_feed/rss_feed/__pycache__/__init__.cpython-311.pyc
rss_feed/rss_feed/__pycache__/settings.cpython-311.pyc
rss_feed/rss_feed/__pycache__/urls.cpython-311.pyc
rss_feed/rss_feed/__pycache__/wsgi.cpython-311.pyc
rss_feed/account/migrations/0001_initial.py
rss_feed/core/migrations/0001_initial.py
rss_feed/podcast/migrations/0001_initial.py
rss_feed/feedback/migrations/0001_initial.py
rss_feed/celerybeat-schedule
rss_feed/Api_endpoints_logs.log
rss_feed/celery_tasks_logs.log
rss_feed/user_actions.log
rss_feed/logs/Api_endpoints_logs.log
rss_feed/logs/celery_tasks_logs.log
rss_feed/logs/user_actions.log
